<div class="container">
  <form
    class="RegisterForm pb-3 needs-validation"
    id="registrationForm"
    action="/register/new-registration"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="row">
      <!-- PERSONAL DETAILS -->
      <div class="col-12 col-md-4 mt-5">
        <h4>Personal Details</h4>

        <div class="mb-3 mt-4">
          <label for="studentType" class="form-label"
            >Are you a student of IMSciences?
            <span class="badge text-danger fs-20">*</span>
          </label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="studentType"
              value="yes"
              id="studentTypeYes"
            />
            <label class="form-check-label" for="studentTypeYes">Yes</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="studentType"
              value="no"
              id="studentTypeNo"
            />
            <label class="form-check-label" for="studentTypeNo">No</label>
          </div>
        </div>
        <div
          class="mb-3 border-start ps-2 ms-3"
          id="studentIdInput"
          style="display: none"
        >
          <label for="studentIdImage" class="form-label"
            >Upload student ID card
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="file"
            class="form-control"
            id="studentIdImage"
            name="studentIdImage"
            accept="image/png,image/PNG, image/jpg, image/jpeg"
          />
          <span class="text-body-secondary fs-14 mt-3"
            >Only PNG, JPEG, JPG images accepted</span
          >
        </div>

        <div class="mb-3">
          <label for="studentImage" class="form-label"
            >Upload Your Picture
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="file"
            class="form-control"
            id="studentImage"
            name="studentImage"
            accept="image/png,image/PNG, image/jpg, image/jpeg"
          />
          <span class="text-body-secondary fs-14 mt-3"
            >Only PNG, JPEG, JPG images accepted</span
          >
        </div>
        <div class="mb-3">
          <label for="name" class="form-label"
            >Name
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Full Name"
          />
        </div>

        <div class="mb-3">
          <label for="FatherName" class="form-label"
            >Father Name
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="FatherName"
            id="FatherName"
            placeholder="Enter Father Name"
          />
        </div>
        <div class="mb-3">
          <label for="ContactNumber" class="form-label"
            >Contact Number
            <span class="badge text-danger fs-20">*</span>
          </label>

          <input
            type="tel"
            inputmode="numeric"
            class="form-control"
            name="ContactNumber"
            id="ContactNumber"
            placeholder="Enter Contact Number"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Enter Email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="cnic" class="form-label"
            >CNIC
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="number"
            class="form-control"
            name="cnic"
            id="cnic"
            placeholder="Enter CNIC"
            required
          />
        </div>
        <div class="mb-3 mt-2" id="cnicImageDiv" style="display: none">
          <label for="cnicImage" class="form-label"
            >Upload CNIC Picture
            <span class="badge text-danger fs-20">*</span>
          </label>
          <input
            type="file"
            class="form-control"
            id="cnicImage"
            name="cnicImage"
            accept="image/png,image/PNG, image/jpg, image/jpeg"
          />
          <span class="text-body-secondary fs-14 mt-3"
            >Only PNG, JPEG, JPG images accepted</span
          >
        </div>
      </div>

      <!-- EVENT DETAILS -->

      <div class="col-12 col-md-8 mt-5">
        <h4>Event Details</h4>

        <div class="mb-3 mt-4">
          <label for="RegisterAs" class="form-label">Register as?</label>
          <div class="form-check">
            <input
              class="form-check-input RegisterAs"
              type="radio"
              name="RegisterAs"
              value="observer"
              id="RegisterAsObserver"
            />
            <label class="form-check-label RegisterAs" for="RegisterAsObserver"
              >Observer</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input RegisterAs"
              type="radio"
              name="RegisterAs"
              value="participant"
              id="RegisterAsParticipant"
            />
            <label class="form-check-label" for="RegisterAsParticipant"
              >Participant</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input RegisterAs"
              type="radio"
              name="RegisterAs"
              value="participantAndSocialEvent"
              id="RegisterAsParticipantAndSocialEvent"
            />

            <label
              class="form-check-label"
              for="RegisterAsParticipantAndSocialEvent"
              >Participant + Social Event</label
            >
          </div>
        </div>
        <div
          class="mb-3 border-start ps-3 ms-3"
          id="sports"
          style="display: none"
        >
          <label for="selectsport" class="form-label">Select Sport</label>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Futsal" value="Futsal" id="Futsal">
                        <label class="form-check-label" for="Futsal">
                            Futsal
                        </label>
                    </div>
                    <div class="mb-3 mt-2 ms-4 border-start ps-2" id="FutsalPlayersDiv" style="display: none;">
                        <label for="FutsalPlayers" class="form-label">Team Players</label>
                        <input type="number" class="form-control FutsalPlayers" id="FutsalPlayers" name="FutsalPlayers" min="4"
                            max="7" placeholder="Enter Total Team Players (4-7)" />
                        <div id="FutsalPlayersError" class="text-danger" style="display: none;"></div>
                        <div id="playersDetailsDiv">
                            <!-- Player details will be dynamically added here -->
                        </div>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Basketball" value="Basketball"
                            id="Basketball">
                        <label class="form-check-label" for="Basketball">
                            Basketball
                        </label>
                    </div>
                    <div class="mb-3 mt-2 ms-4 border-start ps-2" id="BasketballPlayersDiv" style="display: none;">
                        <label for="BasketballPlayers" class="form-label">Total Players</label>

                        <input type="number" class="form-control BasketballPlayers" id="BasketballPlayers" name="BasketballPlayers"
                            min="4" max="7" placeholder="Enter Total Team Players (4-7)" />

                        <div id="BasketballPlayersError" class="text-danger" style="display: none;"></div>
                        <div id="basketballplayersDetailsDiv">
                            <!-- Player details will be dynamically added here -->
                        </div>
                    </div>


          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="Badminton"
              value="Badminton"
              id="Badminton"
            />
            <label class="form-check-label" for="Badminton"> Badminton </label>
          </div>
          <div
            class="mb-3 mt-2 ms-4 border-start ps-2"
            id="BadmintonTypeDiv"
            style="display: none"
          >
            <label for="BadmintonType" class="form-label">Match Type</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="matchType"
                disabled
                value="single"
                id="single"
                checked
              />

              <label class="form-check-label" for="single">Single</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="matchType"
                value="double"
                id="double"
              />
              <label class="form-check-label" for="double">Double</label>
            </div>
            <div
              class="mb-3 mt-3 ps-2 border-start ms-3"
              id="BadmintonSecondPlayerDetailsDiv"
              style="display: none"
            >
              <label for="badmintonPlayerDetails">Player 2 Details:</label>

              <div class="mb-2">
                <label for="badmintonSecondPlayerType" class="form-label"
                  >Is the player a student at IMSciences?
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <div class="form-check">
                  <input
                    class="form-check-input badmintonSecondPlayerType"
                    type="radio"
                    name="badmintonSecondPlayerType"
                    value="yes"
                    id="badmintonSecondPlayerTypeYes"
                  />
                  <label
                    class="form-check-label"
                    for="badmintonSecondPlayerTypeYes"
                    >Yes</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input badmintonSecondPlayerType"
                    type="radio"
                    name="badmintonSecondPlayerType"
                    value="no"
                    id="badmintonSecondPlayerTypeNo"
                  />
                  <label
                    class="form-check-label"
                    for="badmintonSecondPlayerTypeNo"
                    >No</label
                  >
                </div>
                <div
                  class="border-start ps-2 ms-3"
                  id="badmintonSecondPlayerTypeDiv"
                  style="display: none"
                >
                  <div class="mb-2">
                    <label for="badmintonSecondPlayerId" class="form-label"
                      >Upload student ID card
                      <span class="badge text-danger fs-20">*</span>
                    </label>
                    <input
                      type="file"
                      class="form-control"
                      name="badmintonSecondPlayerId"
                      id="badmintonSecondPlayerId"
                      accept="image/png,image/PNG, image/jpg, image/jpeg"
                    />
                    <span class="text-body-secondary fs-14 mt-3"
                      >Only PNG, JPEG, JPG images accepted</span
                    >
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <label for="badmintonSecondPlayerImage" class="form-label"
                  >Upload Player Picture
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <input
                  type="file"
                  class="form-control"
                  name="badmintonSecondPlayerImage"
                  id="badmintonSecondPlayerImage"
                  accept="image/png,image/PNG, image/jpg, image/jpeg"
                />
                <span class="text-body-secondary fs-14 mt-3"
                  >Only PNG, JPEG, JPG images accepted</span
                >
              </div>
              <div class="mb-2">
                <label for="badmintonSecondPlayerName" class="form-label"
                  >Name
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="badmintonSecondPlayerName"
                  id="badmintonSecondPlayerName"
                  placeholder="Enter Player Name"
                />
              </div>

              <div class="mb-2">
                <label for="badmintonSecondPlayerContact" class="form-label"
                  >Contact Number
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <input
                  type="number"
                  class="form-control"
                  name="badmintonSecondPlayerContact"
                  id="badmintonSecondPlayerContact"
                  placeholder="Enter Player Contact Number"
                />
              </div>

              <div class="mb-2">
                <label for="badmintonSecondPlayerCnic" class="form-label"
                  >CNIC
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <input
                  type="email"
                  class="form-control"
                  name="badmintonSecondPlayerCnic"
                  id="badmintonSecondPlayerCnic"
                  placeholder="Enter Player CNIC"
                />
              </div>

              <div class="mb-2" id="badmintonSecondPlayerCnicImageDiv">
                <label for="badmintonSecondPlayerCnicImage" class="form-label"
                  >Player CNIC
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <input
                  type="file"
                  class="form-control"
                  name="badmintonSecondPlayerCnicImage"
                  id="badmintonSecondPlayerCnicImage"
                  accept="image/png,image/PNG, image/jpg, image/jpeg"
                />
                <span class="text-body-secondary fs-14 mt-3"
                  >Only PNG, JPEG, JPG images accepted</span
                >
              </div>

              <div
                class="badmintonSecondPlayerSocialEventDiv"
                id="badmintonSecondPlayerSocialEventDiv"
                style="display: none"
              >
                <label
                  for="badmintonSecondPlayerAttendSocialEvent"
                  class="form-label"
                  >Does the player wish to attend the social event?
                  <span class="badge text-danger fs-20">*</span>
                </label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="badmintonSecondPlayerAttendSocialEvent"
                    value="yes"
                    id="badmintonSecondPlayerAttendSocialEventYes"
                  />
                  <label
                    class="form-check-label"
                    for="badmintonSecondPlayerAttendSocialEventYes"
                    >Yes</label
                  >
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="badmintonSecondPlayerAttendSocialEvent"
                    value="no"
                    id="badmintonSecondPlayerAttendSocialEventNo"
                  />
                  <label
                    class="form-check-label"
                    for="badmintonSecondPlayerAttendSocialEventNo"
                    >No</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="TableTennis"
              value="TableTennis"
              id="TableTennis"
            />
            <label class="form-check-label" for="TableTennis">
              Table-Tennis (Single)
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="BoardGames"
              value="BoardGames"
              id="BoardGames"
            />
            <label class="form-check-label" for="BoardGames">
              Board Games
            </label>
          </div>
          <div
            class="mb-3 ms-4 border-start ps-2"
            id="BoardGamesDiv"
            style="display: none"
          >
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="Ludo"
                value="Ludo"
                id="Ludo"
              />
              <label class="form-check-label" for="Ludo"> Ludo (Single) </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="Chess"
                value="Chess"
                id="Chess"
              />
              <label class="form-check-label" for="Chess">
                Chess (Single)
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="Carrom"
                value="Carrom"
                id="Carrom"
              />
              <label class="form-check-label" for="Carrom">
                Carrom (Single)
              </label>
            </div>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="EGaming"
              value="EGaming"
              id="EGaming"
            />
            <label class="form-check-label" for="EGaming"> E-Gaming </label>
          </div>
          <div
            class="mb-3 ms-4 border-start ps-2"
            id="EGamingDiv"
            style="display: none"
          >
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="Tekken"
                value="Tekken"
                id="Tekken"
              />
              <label class="form-check-label" for="Tekken">
                Tekken (Single)
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="Fifa"
                value="Fifa"
                id="Fifa"
              />
              <label class="form-check-label" for="Fifa"> Fifa (Single) </label>
            </div>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="ParliamentarySummit"
              value="ParliamentarySummit"
              id="ParliamentarySummit"
            />
            <label class="form-check-label" for="ParliamentarySummit">
              Parliamentary Summit
            </label>
          </div>
          <div
            id="ParliamarySummitDiv"
            class="mb-3 ms-4 border-start ps-2"
            style="display: none"
          >
            <div class="mb-3 mt-2">
              <label for="experience" class="form-label"
                >Previous MUN/PNA Experience</label
              >

              <input
                type="number"
                class="form-control"
                id="experience"
                disabled
                name="experience"
              />
            </div>
            <div class="mb-3 mt-2">
              <label for="LeaderOfHouse" class="form-label"
                >Are you expecting to be leader of the house?</label
              >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="LeaderOfHouse"
                  value="yes"
                  id="LeaderOfHouseYes"
                />
                <label class="form-check-label" for="LeaderOfHouseYes"
                  >Yes</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="LeaderOfHouse"
                  value="no"
                  id="LeaderOfHouseNo"
                />
                <label class="form-check-label" for="LeaderOfHouseNo">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 mt-2">
          <label for="ambassador" class="form-label"
            >Ambassador
            <span class="text-body-secondary small">(optional)</span></label
          >
          <input
            type="text"
            class="form-control"
            name="ambassador"
            id="ambassador"
            placeholder="Enter name of ambassador (if any)"
          />
        </div>
      </div>
    </div>
    <div class="mb-4 mt-4" id="TotalPriceDiv">
      <label class="form-label">Checkout</label>
      <div class="PriceBoard">
        <div
          id="ObserverTotalDiv"
          class="obseverTotal d-flex justify-content-between align-items-center"
        >
          <div>
            <p class="checkoutlabel">Observer:</p>
          </div>
          <div>
            <p id="observertotalprice"></p>
          </div>
        </div>

        <div
          id="SportsTotalDiv"
          class="sportsTotal d-flex justify-content-between align-items-center"
        >
          <div>
            <p class="checkoutlabel">Sports:</p>
          </div>
          <div>
            <p id="sportstotalprice"></p>
          </div>
        </div>

        <div
          id="SocialEventsTotalDiv"
          class="socialeventsTotal d-flex justify-content-between align-items-center"
        >
          <div>
            <p class="checkoutlabel">Social Events:</p>
          </div>
          <div>
            <p id="socialeventstotalprice"></p>
          </div>
        </div>

        <div
          id="discountDiv"
          class="discountTotal d-flex justify-content-between align-items-center"
        >
          <p class="checkoutlabel text-success">Discount:</p>
          <p id="dicountPrice" class="text-success"></p>
        </div>

        <div
          class="finalTotal mt-3 pt-2 d-flex justify-content-between align-items-center"
        >
          <div>
            <p class="finaltotallabel">Total:</p>
          </div>
          <input
            type="text"
            class="finalTotalPriceInput"
            id="finaltotalprice"
            name="totalAmount"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <div class="mt-3 mb-3" id="paymentScreenshotDiv" style="display: none">
            <label for="paymentScreenshot">Upload Payment Screenshot
              <span class="badge text-danger fs-20">*</span>
            </label>
            <input type="file" class="form-control" name="paymentScreenshot" id="paymentScreenshot" accept="image/png,image/PNG, image/jpg, image/jpeg" required />
            <span class="text-body-secondary fs-14 mt-3">Only PNG, JPEG, JPG images accepted</span>

            <div class="mt-3 mb-3">
                <p class="mb-1">Payment Accounts:</p>
                <ul class="list-unstyled">
                  <li><strong>Allied Bank Limited:</strong> 08540010000096710039</li>
                  <li><strong>Account Holder:</strong> MARIA ZAHID</li>
                  <li><strong>Branch:</strong> Allied Bank Limited</li>
                  <li><strong>Easypaisa:</strong> +92 317 6222344 - Abdullah</li>
                </ul>
              </div>

          </div>
        </div>
      </div>
    
      
      
      
    <div class="mb-4 mt-4">
      <button
        type="submit"
        class="btn btn-lg SubmitBtn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Submit
      </button>
    </div>

    <div class="mb-4 mt-4">
      <div class="loader" hidden></div>
    </div>
  </form>
  <div
    class="alert alert-success mb-4"
    id="successMessage"
    role="alert"
    style="display: none"
  >
    <h4 class="alert-heading">Success!</h4>
    <p class="text-dark">Thank you for registering for IMOlympiad 2024.</p>
  </div>
</div>

<!-- footer_start  -->
<footer class="footer">
  <div class="copy-right_text pt-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <p
            class="copy_right text-center wow fadeInDown"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright IM Olympiad &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </p>

          <p
            class="copy_right mt-1 text-center wow fadeInDown"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            Proudly Developed by: IM Olympiad IT Team
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer_end  -->
