<div class="performar_area black_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text-center mb-80">
            <h3
              class="wow fadeInRight"
              data-wow-duration="1s"
              data-wow-delay=".3s"
            >
              Performer
            </h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div
                class="single_performer wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".3s"
              >
                <div data-tilt class="thumb">
                  <img src="img/performer/1.png" alt="" />
                </div>
                <div class="performer_heading">
                  <h4>Mr. Zosoldos</h4>
                  <span>Acoustic drum</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="single_performer wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".4s"
              >
                <div data-tilt class="thumb">
                  <img src="img/performer/2.png" alt="" />
                </div>
                <div class="performer_heading">
                  <h4>Protik Hasan</h4>
                  <span>Acoustic drum</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="single_performer wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".5s"
              >
                <div data-tilt class="thumb">
                  <img src="img/performer/3.png" alt="" />
                </div>
                <div class="performer_heading">
                  <h4>Salmon Vicky</h4>
                  <span>Acoustic drum</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="single_performer wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay=".6s"
              >
                <div data-tilt class="thumb">
                  <img src="img/performer/4.png" alt="" />
                </div>
                <div class="performer_heading">
                  <h4>Filaris Habol</h4>
                  <span>Acoustic drum</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>