/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Body font family */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Adjust search icon position */
.search {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* Adjust form control styles */
.form-control {
    border: 1px solid #ced4da; /* Add border */
    border-radius: 4px; /* Add border radius */
    padding: 10px 32px; /* Adjust padding */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Add transition */
}

.form-control:focus {
    border-color: #80bdff; /* Change border color on focus */
    outline: 0; /* Remove outline */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add box shadow on focus */
}

/* Adjust green color */
.green {
    color: green;
}

.table-responsive{
    
}
