<main id="main" class="main">

    <div class="pagetitle">
        <h1>Participants</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Home</a></li>
                <li class="breadcrumb-item active">Registered Participants</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row"></div>

        <div class="table-responsive">
            <table class="table table-bordered shadow-sm table-hover table-rounded">
                <thead class="table-dark">
                    <tr class="bg-light">
                        <th scope="col" style="width: 4%;">#</th>
                        <th scope="col">Name </th>
                        <th scope="col">IMS Student</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Details</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (locals.registered_users) {%>
                        <% for (const [index,user] of registered_users.entries()) { %>
                            <tr>
                                <td><%=index+1%></td>
                                <td><%=user.name%></td>
                                <td><%=user.is_ims_student%></td>
                                <td><%=user.contact_number%></td>
                                <td><a href="/user-detail" type="button" class="trigger btn btn-details"><i class="bi bi-person-lines-fill"></i></a></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </section>
</main>